<div class="content">
    <h4><b>Current Status :</b></h4>
    <div class="row">
        <br>
        <div class="column">
          <div class="card">
              <h4 style="font-weight: 500">Moisture Value</h4>
              <br><br>
              <h1 style="font-size: 70px;color: green;">{{data[0].sensor1}}</h1>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h4 style="font-weight: 500">Light Value</h4>
            <br><br>
            <h1 style="font-size: 70px;color: orange;">{{data[0].sensor2}}</h1>
          </div>
        </div>
      </div>
    <br>
    <div class="rows">
        <br>
        <div class="columns">
          <div class="cards">
              <h4 style="font-weight: 500">Status</h4>
              <h1 style="color: green;">HEALTHY</h1>
          </div>
        </div>
      </div>
</div>
<h4 style="margin:20px ;"><b>History :</b></h4>
<div class="table">
    <table>
        <tr>
          <th>S No.</th>
          <th>Date</th>
          <th>Moisture</th>
          <th>Light</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let item of data;let i=index">
          <td>{{i+1}}</td>
          <td>{{ format(item.time) }}</td>
          <td>{{item.sensor1}}</td>
          <td>{{item.sensor2}}</td>
          <td>{{status(item.sensor1)}}</td>
        </tr>
      </table>
</div>
<br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>