<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets/sprinkler.png" alt="Yo" style="height: 30px;width:50px;padding-left: 10px;">
    <a class="navbar-brand" href="#" style="padding-left: 15px;">Smart Irrigation Using IoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav sprinkler-nav">
        <span class="menu">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
        </span>
        <span class="profile">
            <li class="nav-item profile">
                <h4 class="navbar-brand" style="font-weight: 400; margin-top: 13px;font-size:large; margin-right: 10px;">Hey User!</h4>
                <img src="assets/user.png" style="height: 40px;width:40px;margin-right: 10px;cursor: pointer;" 
                alt="Alt Image" (click)="openDialog()">
            </li>
        </span>
      </ul>
    </div>
  </nav>